<a href="https://colab.research.google.com/github/Keerthana0309/Natural-Language-Processing/blob/master/Natural_Language_Processing_Amazon_Review_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings # Ignores any warning
warnings.filterwarnings("ignore")
data = pd.read_csv("1429_1.csv")

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34660 entries, 0 to 34659
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    34660 non-null  object
 1   name                  27900 non-null  object
 2   asins                 34658 non-null  object
 3   brand                 34660 non-null  object
 4   categories            34660 non-null  object
 5   keys                  34660 non-null  object
 6   manufacturer          34660 non-null  object
 7   reviews.date          34621 non-null  object
 8   reviews.dateAdded     24039 non-null  object
 9   reviews.dateSeen      34660 non-null  object
 10  reviews.didPurchase   1 non-null      object
 11  reviews.doRecommend   34066 non-null  object
 12  reviews.id            1 non-null      float64
 13  reviews.numHelpful    34131 non-null  float64
 14  reviews.rating        34627 non-null  float64
 15  reviews.sourceURLs    34660 non-null  object
 16  reviews.text          34659 non-null  object
 17  reviews.title         34655 non-null  object
 18  reviews.userCity      0 non-null      float64
 19  reviews.userProvince  0 non-null      float64
 20  reviews.username      34658 non-null  object
dtypes: float64(5), object(16)
memory usage: 5.6+ MB

In [ ]:
data['reviews.rating'] = data['reviews.rating'].astype(object)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34660 entries, 0 to 34659
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    34660 non-null  object
 1   name                  27900 non-null  object
 2   asins                 34658 non-null  object
 3   brand                 34660 non-null  object
 4   categories            34660 non-null  object
 5   keys                  34660 non-null  object
 6   manufacturer          34660 non-null  object
 7   reviews.date          34621 non-null  object
 8   reviews.dateAdded     24039 non-null  object
 9   reviews.dateSeen      34660 non-null  object
 10  reviews.didPurchase   1 non-null      object
 11  reviews.doRecommend   34066 non-null  object
 12  reviews.id            1 non-null      float64
 13  reviews.numHelpful    34131 non-null  float64
 14  reviews.rating        34627 non-null  object
 15  reviews.sourceURLs    34660 non-null  object
 16  reviews.text          34659 non-null  object
 17  reviews.title         34655 non-null  object
 18  reviews.userCity      0 non-null      float64
 19  reviews.userProvince  0 non-null      float64
 20  reviews.username      34658 non-null  object
dtypes: float64(4), object(17)
memory usage: 5.6+ MB

In [ ]:
data.head()

                     id  ... reviews.username
0  AVqkIhwDv8e3D1O-lebb  ...          Adapter
1  AVqkIhwDv8e3D1O-lebb  ...           truman
2  AVqkIhwDv8e3D1O-lebb  ...            DaveZ
3  AVqkIhwDv8e3D1O-lebb  ...           Shacks
4  AVqkIhwDv8e3D1O-lebb  ...        explore42

[5 rows x 21 columns]

In [ ]:
dataset = data[['reviews.text','reviews.rating']]
dataset

                                            reviews.text reviews.rating
0      This product so far has not disappointed. My c...              5
1      great for beginner or experienced person. Boug...              5
2      Inexpensive tablet for him to use and learn on...              5
3      I've had my Fire HD 8 two weeks now and I love...              4
4      I bought this for my grand daughter when she c...              5
...                                                  ...            ...
34655  This is not appreciably faster than any other ...              3
34656  Amazon should include this charger with the Ki...              1
34657  Love my Kindle Fire but I am really disappoint...              1
34658  I was surprised to find it did not come with a...              1
34659  to spite the fact that i have nothing but good...              1

[34660 rows x 2 columns]

In [ ]:
dataset = dataset.dropna()

In [ ]:
dataset.isnull().sum()

reviews.text      0
reviews.rating    0
dtype: int64

In [ ]:
dataset = dataset[dataset["reviews.rating"] != 3]

Rating 3 for neutral

In [ ]:
dataset["label"] = dataset["reviews.rating"].apply(lambda rating : +1 if str(rating) > '3' else -1)

In [ ]:
dataset.head()

                                        reviews.text reviews.rating  label
0  This product so far has not disappointed. My c...              5      1
1  great for beginner or experienced person. Boug...              5      1
2  Inexpensive tablet for him to use and learn on...              5      1
3  I've had my Fire HD 8 two weeks now and I love...              4      1
4  I bought this for my grand daughter when she c...              5      1

In [ ]:
from sklearn.model_selection import train_test_split

X = pd.DataFrame(dataset, columns= ["reviews.text"])
y = pd.DataFrame(dataset, columns= ["label"])

train_X, test_X, train_y, test_y = train_test_split(X, y, random_state=50)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

train_X = ["John likes to watch movies","Mary likes movies too", 
           "Joe only likes horror movies and action movies"]

vectorizer = CountVectorizer(token_pattern=r'\b\w+\b')
train_vector = vectorizer.fit_transform(train_X)
token_set = vectorizer.get_feature_names()
#print(train_vector)

test_X = ["Jay likes romantic movies"]
test_vector = vectorizer.fit_transform(test_X)
print(test_vector)

  (0, 0)	1
  (0, 1)	1
  (0, 3)	1
  (0, 2)	1

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(token_pattern=r'\b\w+\b')
train_vector = vectorizer.fit_transform(train_X["reviews.text"])
test_vector = vectorizer.transform(test_X["reviews.text"])

In [ ]:
from sklearn.linear_model import LogisticRegression

clr = LogisticRegression()
clr.fit(train_vector, train_y.values.ravel())
scores = clr.score(test_vector, test_y)
print(scores)

0.9797150446751992